$class              : ".modal"      !default;
$var-root           : ":root"       !default;
$var-prefix         : "modal"       !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$overlay-zindex     : 1050          !default;



@if ($var-root) { #{$var-root} {
    #{$cssvar}overlay-zindex: #{$overlay-zindex};
}}



/// a style definition for killing the browser's scrollbar when the modal is open.
@mixin modal-open {
    overflow-x: hidden !important; // kill the horizontall scroll on the browser
}
@if ($var-prefix and ($var-prefix != "")) {
    body.#{$var-prefix}-open { @include modal-open; }
}



/// a basic style definition for the modal's background.
@mixin modal-overlay {
    // structures: default styling is cover the whole browser's screen
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    //width: 100vw; // exceed the scrollbar
    height: var(--viewport-height, 100vh);
    z-index: var(#{$cssvar}overlay-zindex); // place above all elements

    // borders:
    outline: 0; // prevent Chrome on Windows from adding a focus outline.
    overflow: hidden;

    // flex properties: places the modal's content at the center:
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    @include theme.overlay; // apply custom styling
}


/// a basic style definition for the modal's content.
@mixin modal-content {
    position: relative;


    @include theme.content; // apply custom styling
}



/// a class for "popup modal" functionality.
@mixin modal {
    &:not(.expand) { display: none; } // default modal state is hidden
    
    @include modal-overlay; // defines the modal's background



    // the content of the modal is an article element.
    // it may having additional header & footer.
    > article, .article {
        @include modal-content; // defines the modal's content
    }



    /* begin: animations */
    /* begin: show animation */
    &.expand {
        @include theme.overlay-expand;
        
        > article {
            @include theme.content-expand;
        }
    }
    /* end: show animation */


    /* begin: hide animation */
    &.collapse {
        @include theme.overlay-collapse;
        
        > article {
            @include theme.content-collapse;
        }
    }
    /* end: hide animation */
    /* end: animations */
}
@if ($class) {
    #{$class} { @include modal; }
}