// development:
// @use "node_modules/@heymarco/scss-utils/index" as *;
// @use "node_modules/@heymarco/colors/index" as color;
// @use "node_modules/@heymarco/container/index" as container;
// @use "node_modules/@heymarco/card/index" as card;

// production:
@use "../../../node_modules/@heymarco/scss-utils/index" as *;
@use "../../../node_modules/@heymarco/colors/index" as color;
@use "../../../node_modules/@heymarco/container/index" as container;
@use "../../../node_modules/@heymarco/card/index" as card;



$var-root           : ":root"           !default;
$var-prefix         : "modal-theme"     !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$enable-extends-card        : true      !default;
$enable-blur-background     : true      !default;
$enable-blur-background-alt : true      !default;

$width                      : max-content                                               !default; // the width is the maximum required content's space
$height                     : unset                                                     !default;                            
$max-width                  : calc(100vw - (var(#{container.$cssvar}x) * 2))            !default; // the max-width is the page's width minus 2x --container-x
$max-height                 : calc(
                                   var(--viewport-height, 100vh)
                                         - (var(#{container.$cssvar}y) * 2))            !default; // the max-height is the page's height minus 2x --container-y
$shadow                     : 0px 0px #{rems(24/*px*/)} 0 var(#{color.$cssvar}black)    !default; // create shadow surrounding the content, so it appears floating



@mixin cssvar {
    #{$cssvar}width         : #{$width};
    #{$cssvar}height        : #{$height};
    #{$cssvar}max-width     : #{$max-width};
    #{$cssvar}max-height    : #{$max-height};
    #{$cssvar}shadow        : #{$shadow};
}
@if ($var-root) {
    #{$var-root} { @include cssvar; }
}



/// a theme definition for the modal's overlay.
@mixin overlay {
    // blur the background
    // TODO: sorry I still use `sass variable` to modify the background.
    // configurable via `css variable` might coming soon.
    @if ($enable-blur-background == true) {
        @include color.bg-blur-fross-thick;
    
        // if browser doesn't support background blur, fallback to darken the background
        @if ($enable-blur-background-alt == true) {
            @supports not (backdrop-filter: blur(5px)) {
                background-color: change-color(#303030, $alpha: 0.75);
            }
        }
    }
}


/// a theme definition for the modal's content.
@mixin content {
    @if ($enable-extends-card == true) {
        @if (card.$class && (card.$class != "")) {
            @extend #{card.$class};
        }
        @else {
            @include card.card;
        }

        @if (card.$enable-clip-radius != true) {
            overflow: auto; // enable scrollbar
        }
    }



    width       : var(#{$cssvar}width);
    height      : var(#{$cssvar}height);
    max-width   : var(#{$cssvar}max-width);
    max-height  : var(#{$cssvar}max-height);
    box-shadow  : var(#{$cssvar}shadow);
}
