$var-root           : ":root"                   !default;
$var-prefix         : "modal"                   !default;
$overlay-zindex     : 1050                      !default;
$content-transf     : translate(-50%, -50%)     !default;



@mixin modal-vars {
    --#{$var-prefix}-overlay-zindex: #{$overlay-zindex};
    --#{$var-prefix}-content-transf: #{$content-transf};
}
@if ($var-root) {
    #{$var-root} { @include modal-vars; }
}