$var-prefix                     : "modal"    !default;



@mixin modal-theme-overlay-anim-expand {
    /* begin: smooth transition from 0% visible to 100% visible */
    animation: #{$var-prefix}-overlay-anim-showing var(--#{$var-prefix}-anim-show-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(--#{$var-prefix}-anim-show-delay);
    @keyframes #{$var-prefix}-overlay-anim-showing {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* end: smooth transition from 0% visible to 100% visible */
}
@mixin modal-theme-overlay-anim-collapse {
    display: unset !important; // prevent the hidden state, so we can show the hidding animation before completely hidden


    /* begin: smooth transition from 100% visible to 0% visible */
    animation: #{$var-prefix}-overlay-anim-hidding var(--#{$var-prefix}-anim-hide-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(--#{$var-prefix}-anim-hide-delay);
    @keyframes #{$var-prefix}-overlay-anim-hidding {
        0% {
            // firstly, animation starts fully opaque:
            opacity: 1;


            // animation starts at visible state:
            visibility: visible;
        }

        100% {
            // then gradually changed to fully hidden and the location slided out to right:
            opacity: 0;


            // animation was completed, now it's time to set completely hidden:
            visibility: hidden;
            display: none !important;
        }
    }
    /* end: smooth transition from 100% visible to 0% visible */
}

@mixin modal-theme-anim-expand {
    /* begin: popping in animation */
    animation: #{$var-prefix}-anim-showing var(--#{$var-prefix}-anim-show-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(--#{$var-prefix}-anim-show-delay);
    @keyframes #{$var-prefix}-anim-showing {
        0% {
            transform: var(--#{$var-prefix}-content-transf) var(--#{$var-prefix}-anim-show-scale-start);
        }

        70% {
            transform: var(--#{$var-prefix}-content-transf) var(--#{$var-prefix}-anim-show-scale-end);
        }

        100% {
            transform: var(--#{$var-prefix}-content-transf);
        }
    }
    /* end: popping in animation */
}
@mixin modal-theme-anim-collapse {
    /* begin: popping out animation */
    animation: #{$var-prefix}-anim-hidding var(--#{$var-prefix}-anim-hide-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(--#{$var-prefix}-anim-hide-delay);
    @keyframes #{$var-prefix}-anim-hidding {
        0% {
            transform: var(--#{$var-prefix}-content-transf);
        }

        30% {
            transform: var(--#{$var-prefix}-content-transf) var(--#{$var-prefix}-anim-hide-scale-start);
        }

        100% {
            transform: var(--#{$var-prefix}-content-transf) var(--#{$var-prefix}-anim-hide-scale-end);
        }
    }
    /* end: popping out animation */
}
