$var-root           : ":root"               !default;
$var-prefix         : "modal-theme-anim"    !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

// set how fast the popping-in animation:
$show-delay         : 0ms           !default;
$show-duration      : 300ms         !default;
$show-scale-start   : scale(0)      !default;
$show-scale-end     : scale(1.1)    !default;

// set how fast the popping-out animation:
$hide-delay         : 0ms           !default;
$hide-duration      : 500ms         !default;
$hide-scale-start   : scale(1.1)    !default;
$hide-scale-end     : scale(0)      !default;



@mixin cssvar {
    #{$cssvar}show-delay        : #{$show-delay};
    #{$cssvar}show-duration     : #{$show-duration};
    #{$cssvar}show-scale-start  : #{$show-scale-start};
    #{$cssvar}show-scale-end    : #{$show-scale-end};
    
    #{$cssvar}hide-delay        : #{$hide-delay};
    #{$cssvar}hide-duration     : #{$hide-duration};
    #{$cssvar}hide-scale-start  : #{$hide-scale-start};
    #{$cssvar}hide-scale-end    : #{$hide-scale-end};
}
@if ($var-root) {
    #{$var-root} { @include cssvar; }
}



/// an animation definition for the modal's background when showing.
@mixin overlay-expand {
    /* begin: smooth transition from 0% visible to 100% visible */
    animation: #{$var-prefix}-overlay-expand var(#{$cssvar}show-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(#{$cssvar}show-delay);
    @keyframes #{$var-prefix}-overlay-expand {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* end: smooth transition from 0% visible to 100% visible */
}

/// an animation definition for the modal's background when hidding.
@mixin overlay-collapse {
    display: flex !important; // prevent the hidden state, so we can show the hidding animation before completely hidden


    /* begin: smooth transition from 100% visible to 0% visible */
    animation: #{$var-prefix}-overlay-collapse var(#{$cssvar}hide-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(#{$cssvar}hide-delay);
    @keyframes #{$var-prefix}-overlay-collapse {
        0% {
            // firstly, animation starts fully opaque:
            opacity: 1;


            // animation starts at visible state:
            visibility: visible;
        }

        100% {
            // then gradually changed to fully hidden and the location slided out to right:
            opacity: 0;


            // animation was completed, now it's time to set completely hidden:
            visibility: hidden;
            display: none !important;
        }
    }
    /* end: smooth transition from 100% visible to 0% visible */
}


/// an animation definition for the modal's content when showing.
@mixin expand {
    /* begin: popping in animation */
    animation: #{$var-prefix}-expand var(#{$cssvar}show-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(#{$cssvar}show-delay);
    @keyframes #{$var-prefix}-expand {
        0% {
            transform: var(#{$cssvar}show-scale-start);
        }

        70% {
            transform: var(#{$cssvar}show-scale-end);
        }

        100% {
            transform: unset;
        }
    }
    /* end: popping in animation */
}

/// an animation definition for the modal's content when hidding.
@mixin collapse {
    /* begin: popping out animation */
    animation: #{$var-prefix}-collapse var(#{$cssvar}hide-duration) ease-in-out both;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: var(#{$cssvar}hide-delay);
    @keyframes #{$var-prefix}-collapse {
        0% {
            transform: unset;
        }

        30% {
            transform: var(#{$cssvar}hide-scale-start);
        }

        100% {
            transform: var(#{$cssvar}hide-scale-end);
        }
    }
    /* end: popping out animation */
}