@use "../../../node_modules/@heymarco/scss-utils/index" as *;



$class          : ".modal"   !default;
$var-prefix     : "modal"    !default;



/* begin: a class for styling the blurry background modal */
@mixin modal-overlay {
    // default styling is cover the whole browser's screen
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    //width: 100vw; // exceed the scrollbar
    height: var(--viewport-height, 100vh);

    overflow: hidden;
    outline: 0; // prevent Chrome on Windows from adding a focus outline.
    z-index: var(--#{$var-prefix}-overlay-zindex); // place above all elements


    @include modal-theme-overlay; // apply custom styling
}
@if ($class) {
    #{$class}-overlay { @include modal-overlay; }
}
/* end: a class for styling the blurry background modal */



/* begin: a class for killing the browser's scrollbar when the modal is open */
@mixin modal-open {
    overflow-x: hidden !important; // kill the horizontall scroll on the browser
}
@if ($class) {
    body.#{ str-replace($class, ".", "") }#{"-open"} { @include modal-open; }
}
/* end: a class for killing the browser's scrollbar when the modal is open */



/* begin: a class for "popup modal" functionality */
@mixin modal {
    &:not(.expand) { display: none; } // default modal state is hidden

    @extend #{$class}-overlay; // modal with blurry background overlay
    


    // the content of the modal is an article element.
    // it may having additional header & footer.
    > article, .article {
        // default styling is located at the center:
        position: absolute;
        left: 50%;
        top: 50%;
        transform: var(--#{$var-prefix}-content-transf);


        @include modal-theme; // apply custom styling
    }
}
@if ($class) {
    #{$class} { @include modal; }
}
/* end: a class for "popup modal" functionality */