@use "../../../node_modules/@heymarco/scss-utils/index" as *;
@use "../../../node_modules/@heymarco/colors/index" as *;
@use "../../../node_modules/@heymarco/container/index" as container;
@use "../../../node_modules/@heymarco/card/index" as card;



$var-prefix                 : "modal"   !default;
$enable-blur-background     : true      !default;
$enable-blur-background-alt : true      !default;
$enable-animation           : true      !default;

$extends-card               : true      !default;



// a custom theme definition for modal's overlay
@mixin modal-theme-overlay {
    // blur the background
    // TODO: sorry i still use `sass variable` to modify the background.
    // configurable via `css variable` might coming soon.
    @if ($enable-blur-background == true) {
        @include bg-blur-fross-thick;
    
        // if browser doesn't support background blur, fallback to darken the background
        @if ($enable-blur-background-alt == true) {
            @supports not (backdrop-filter: blur(5px)) {
                background-color: change-color(#303030, $alpha: 0.75);
            }
        }
    }



    @if ($enable-animation == true) {
        /* begin: show animation */
        &.expand {
            @include modal-theme-overlay-anim-expand;
            
            > article {
                @include modal-theme-anim-expand;
            }
        }
        /* end: show animation */
    
    
        /* begin: hide animation */
        &.collapse {
            @include modal-theme-overlay-anim-collapse;
            
            > article {
                @include modal-theme-anim-collapse;
            }
        }
        /* end: hide animation */
    }
}


// a custom theme definition for modal's content
@mixin modal-theme {
    @if ($extends-card) {
        @extend #{card.$class};
    
        --#{card.$var-prefix}-width: max-content; // the width is the maximum required content's space

        @if (card.$enable-clip-radius != true) {
            overflow: auto; // enable scrollbar
        }
    }

    max-width: calc(100vw - (var(--container-x) * 2)); // the max-width is the page's width minus 2x --container-x
    max-height: calc(100vh - (var(--container-y) * 2)); // the max-height is the page's height minus 2x --container-y

    --#{card.$var-prefix}-shadow: 0px 0px #{rems(24/*px*/)} 0 var(--black); // create shadow surrounding the content, so it appears floating
    box-shadow: var(--#{card.$var-prefix}-shadow);
}
