
@mixin modal-theme-var {
    // set how fast the popping-in animation:
    $modal-anim-show-delay      : 0ms !default;
    $modal-anim-show-duration   : 300ms !default;
    
    // set how fast the popping-out animation:
    $modal-anim-hide-delay      : 0ms !default;
    $modal-anim-hide-duration   : 500ms !default;


    --modal-anim-show-delay: #{$modal-anim-show-delay};
    --modal-anim-show-duration: #{$modal-anim-show-duration};
    
    --modal-anim-hide-delay: #{$modal-anim-hide-delay};
    --modal-anim-hide-duration: #{$modal-anim-hide-duration};
}